@import url(http://fonts.googleapis.com/css?family=Lato:700);
body {
  background-color: #ECF0F1; }

.row {
  height: 100%;
  max-height: 600px;
  margin-left: 0px;
  width: 5px; }

.content {
  padding: 0px;
  margin-left: 10px;
  padding-top: 65px;
  height: 100%;
  font-family: "Lato";
  width: 100%;
  max-width: 500px; }

ul.title-area {
  padding-left: 0;
  float: left; }

.top-bar .name {
  display: inline-block;
  vertical-align: top; }
  @media screen and (max-width: 768px) {
    .top-bar .name {
      display: none; }
    .top-bar .name:nth-child(1) {
      display: inline-block; } }

.top-bar .name h1 {
  text-transform: capitalize; }

h1 {
  font-size: 24px; }

.sidebar {
  position: fixed;
  width: 400px;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  z-index: 50;
  padding-top: 50px; }

#minimap {
  padding: 0px 0;
  height: 300px; }
  #minimap * {
    cursor: pointer !important; }
  #minimap > .sequence {
    display: none; }
  #minimap .selected {
    border: 1px solid white; }

.sequence {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  cursor: pointer; }
  .sequence.siblings-1 {
    width: calc(100% / 1); }
  .sequence.siblings-2 {
    width: calc(100% / 2); }
  .sequence.siblings-3 {
    width: calc(100% / 3); }
  .sequence.siblings-4 {
    width: calc(100% / 4); }
  .sequence.siblings-5 {
    width: calc(100% / 5); }
  .sequence.siblings-6 {
    width: calc(100% / 6); }
  .sequence.siblings-7 {
    width: calc(100% / 7); }
  .sequence.siblings-8 {
    width: calc(100% / 8); }
  .sequence.siblings-9 {
    width: calc(100% / 9); }
  .sequence.siblings-10 {
    width: calc(100% / 10); }
  .sequence > h1 {
    text-transform: capitalize;
    color: #ECF0F1;
    background-color: #333333;
    margin: 0;
    margin-bottom: 3px;
    padding: 5px 20px; }
  .focused > .sequence {
    height: calc(100%);
    width: 300px; }
    .focused > .sequence:not(.fill) {
      margin: 0 15px; }
      @media screen and (min-width: 768px) {
        .focused > .sequence:not(.fill):hover {
          margin: -5px 10px;
          height: calc(100% + 10px);
          width: calc(300px + 10px); } }
  .sequence.fill {
    margin: auto;
    width: 350px; }
    .sequence.fill > h1 {
      display: none; }

.cell {
  display: block; }
  .cell.siblings-1 {
    height: calc( 100% / 1 ); }
    h1 ~ .cell.siblings-1 {
      height: calc( (100% - 36px) / 1 ); }
  .cell.siblings-2 {
    height: calc( 100% / 2 ); }
    h1 ~ .cell.siblings-2 {
      height: calc( (100% - 36px) / 2 ); }
  .cell.siblings-3 {
    height: calc( 100% / 3 ); }
    h1 ~ .cell.siblings-3 {
      height: calc( (100% - 36px) / 3 ); }
  .cell.siblings-4 {
    height: calc( 100% / 4 ); }
    h1 ~ .cell.siblings-4 {
      height: calc( (100% - 36px) / 4 ); }
  .cell.siblings-5 {
    height: calc( 100% / 5 ); }
    h1 ~ .cell.siblings-5 {
      height: calc( (100% - 36px) / 5 ); }
  .cell.siblings-6 {
    height: calc( 100% / 6 ); }
    h1 ~ .cell.siblings-6 {
      height: calc( (100% - 36px) / 6 ); }
  .cell.siblings-7 {
    height: calc( 100% / 7 ); }
    h1 ~ .cell.siblings-7 {
      height: calc( (100% - 36px) / 7 ); }
  .cell.siblings-8 {
    height: calc( 100% / 8 ); }
    h1 ~ .cell.siblings-8 {
      height: calc( (100% - 36px) / 8 ); }
  .cell.siblings-9 {
    height: calc( 100% / 9 ); }
    h1 ~ .cell.siblings-9 {
      height: calc( (100% - 36px) / 9 ); }
  .cell.siblings-10 {
    height: calc( 100% / 10 ); }
    h1 ~ .cell.siblings-10 {
      height: calc( (100% - 36px) / 10 ); }
  .cell.branch {
    overflow-x: visible;
    white-space: nowrap; }
    .fill > .cell.branch:not(.focused) {
      margin: 15px 0; }
      @media screen and (min-width: 768px) {
        .fill > .cell.branch:not(.focused):hover {
          background-color: #DDDDDD;
          margin: 10px -5px; }
          .fill > .cell.branch:not(.focused):hover.siblings-1 {
            height: calc( 100% / 1 - 2px ); }
          .fill > .cell.branch:not(.focused):hover.siblings-2 {
            height: calc( 100% / 2 - 2px ); }
          .fill > .cell.branch:not(.focused):hover.siblings-3 {
            height: calc( 100% / 3 - 2px ); }
          .fill > .cell.branch:not(.focused):hover.siblings-4 {
            height: calc( 100% / 4 - 2px ); }
          .fill > .cell.branch:not(.focused):hover.siblings-5 {
            height: calc( 100% / 5 - 2px ); }
          .fill > .cell.branch:not(.focused):hover.siblings-6 {
            height: calc( 100% / 6 - 2px ); }
          .fill > .cell.branch:not(.focused):hover.siblings-7 {
            height: calc( 100% / 7 - 2px ); }
          .fill > .cell.branch:not(.focused):hover.siblings-8 {
            height: calc( 100% / 8 - 2px ); }
          .fill > .cell.branch:not(.focused):hover.siblings-9 {
            height: calc( 100% / 9 - 2px ); }
          .fill > .cell.branch:not(.focused):hover.siblings-10 {
            height: calc( 100% / 10 - 2px ); } }
    .cell.branch.focused {
      height: 100%;
      padding: 0; }
      .cell.branch.focused.children-1 {
        width: calc( 300px * 1); }
      .cell.branch.focused.children-2 {
        width: calc( 300px * 2); }
      .cell.branch.focused.children-3 {
        width: calc( 300px * 3); }
      .cell.branch.focused.children-4 {
        width: calc( 300px * 4); }
      .cell.branch.focused.children-5 {
        width: calc( 300px * 5); }
      .cell.branch.focused.children-6 {
        width: calc( 300px * 6); }
      .cell.branch.focused.children-7 {
        width: calc( 300px * 7); }
      .cell.branch.focused.children-8 {
        width: calc( 300px * 8); }
      .cell.branch.focused.children-9 {
        width: calc( 300px * 9); }
      .cell.branch.focused.children-10 {
        width: calc( 300px * 10); }
      .cell.branch.focused.remove-width {
        width: auto; }
  .cell.action {
    overflow: hidden;
    text-weight: bold;
    white-space: normal; }
    .fill > .cell.action {
      height: auto;
      cursor: default; }
    .cell.action h1 {
      text-transform: capitalize; }
      :not(.focused) > .sequence > .cell.action h1 {
        font-size: 0.8em;
        padding: 0 15px; }
      .focused > .sequence > .cell.action h1 {
        margin: 10px 0;
        font-size: 1.5em;
        padding: 0 15px; }
      :not(.focused) > * > :not(.focused) > * > .cell.action h1 {
        display: none; }
    .cell.action p {
      display: none;
      margin: 0;
      padding: 0 15px;
      padding-bottom: 20px;
      width: 100%; }
      .cell.action p:last-child {
        padding-bottom: 10px;
        text-align: right; }

.READY {
  background-color: #2ecc71;
  border: 2px solid #2bc06a; }
  .READY.darken, .darken .READY {
    background-color: #124f2c;
    border: 1px solid #0f4325; }

.ACTIVE {
  background-color: #00b2ed;
  border: 2px solid #00a7de; }
  .ACTIVE.darken, .darken .ACTIVE {
    background-color: #003f54;
    border: 2px solid #003445; }

.BLOCKED, .SUSPENDED {
  background-color: #D0021B;
  border: 2px solid #c10219; }
  .BLOCKED.darken, .darken .BLOCKED, .SUSPENDED.darken, .darken .SUSPENDED {
    background-color: #380107;
    border: 2px solid #290005; }

.DONE, .SATISFIED {
  background-color: #fff;
  border: 2px solid #f7f7f7; }
  .DONE.darken, .darken .DONE, .SATISFIED.darken, .darken .SATISFIED {
    background-color: #b3b3b3;
    border: 2px solid #ababab; }

.NONE, .AVAILABLE {
  background-color: #bdc3c7;
  border: 2px solid #b5bbc0; }
  .NONE.darken, .darken .NONE, .AVAILABLE.darken, .darken .AVAILABLE {
    background-color: #6c777f;
    border: 2px solid #657077; }

body > * {
  -webkit-transition: opacity .4s;
  -moz-transition: opacity .4s;
  -ms-transition: opacity .4s;
  -o-transition: opacity .4s;
  transition: opacity .4s;
  opacity: 0.3; }
  body > * .shepherd-enabled {
    opacity: 1; }
body .shepherd-enabled {
  opacity: 1; }

/*# sourceMappingURL=app.css.map */
