@import url(http://fonts.googleapis.com/css?family=Lato:700);
body {
  background-color: #ECF0F1; }

.row {
  height: 100%;
  max-height: 600px; }

.content {
  padding: 0;
  margin-top: 50px;
  height: calc( 100% - 50px);
  font-family: "Lato";
  width: 100%;
  max-width: 500px; }

.top-bar .name {
  display: inline-block;
  vertical-align: top; }

.top-bar .name h1 {
  line-height: 39px;
  text-transform: capitalize; }

h1 {
  font-size: 24px; }

.sidebar {
  position: fixed;
  width: 400px;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  z-index: 50;
  padding-top: 50px; }

#minimap {
  padding: 20px;
  height: 500px; }
  #minimap * {
    cursor: default !important; }
  #minimap > .sequence {
    display: none; }
  #minimap .selected {
    border: 1px solid white; }

.sequence {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  cursor: pointer; }
  .sequence.siblings-1 {
    width: calc(100% / 1); }
  .sequence.siblings-2 {
    width: calc(100% / 2); }
  .sequence.siblings-3 {
    width: calc(100% / 3); }
  .sequence.siblings-4 {
    width: calc(100% / 4); }
  .sequence.siblings-5 {
    width: calc(100% / 5); }
  .sequence.siblings-6 {
    width: calc(100% / 6); }
  .sequence.siblings-7 {
    width: calc(100% / 7); }
  .sequence.siblings-8 {
    width: calc(100% / 8); }
  .sequence.siblings-9 {
    width: calc(100% / 9); }
  .sequence.siblings-10 {
    width: calc(100% / 10); }
  .sequence > h1 {
    text-align: center;
    text-transform: capitalize;
    color: #ECF0F1;
    background-color: #333333;
    margin: 0;
    margin-bottom: 3px;
    padding: 5px; }
  .focused > .sequence {
    height: calc(100%);
    width: 300px; }
    .focused > .sequence:not(.fill) {
      margin-right: 5px; }
  .sequence.fill {
    margin: auto;
    width: 350px; }
    .sequence.fill > h1 {
      display: none; }

.cell {
  display: block; }
  .cell.siblings-1 {
    height: calc( 100% / 1 ); }
    h1 ~ .cell.siblings-1 {
      height: calc( (100% - 36px) / 1 ); }
  .cell.siblings-2 {
    height: calc( 100% / 2 ); }
    h1 ~ .cell.siblings-2 {
      height: calc( (100% - 36px) / 2 ); }
  .cell.siblings-3 {
    height: calc( 100% / 3 ); }
    h1 ~ .cell.siblings-3 {
      height: calc( (100% - 36px) / 3 ); }
  .cell.siblings-4 {
    height: calc( 100% / 4 ); }
    h1 ~ .cell.siblings-4 {
      height: calc( (100% - 36px) / 4 ); }
  .cell.siblings-5 {
    height: calc( 100% / 5 ); }
    h1 ~ .cell.siblings-5 {
      height: calc( (100% - 36px) / 5 ); }
  .cell.siblings-6 {
    height: calc( 100% / 6 ); }
    h1 ~ .cell.siblings-6 {
      height: calc( (100% - 36px) / 6 ); }
  .cell.siblings-7 {
    height: calc( 100% / 7 ); }
    h1 ~ .cell.siblings-7 {
      height: calc( (100% - 36px) / 7 ); }
  .cell.siblings-8 {
    height: calc( 100% / 8 ); }
    h1 ~ .cell.siblings-8 {
      height: calc( (100% - 36px) / 8 ); }
  .cell.siblings-9 {
    height: calc( 100% / 9 ); }
    h1 ~ .cell.siblings-9 {
      height: calc( (100% - 36px) / 9 ); }
  .cell.siblings-10 {
    height: calc( 100% / 10 ); }
    h1 ~ .cell.siblings-10 {
      height: calc( (100% - 36px) / 10 ); }
  .cell.branch {
    overflow-x: visible;
    white-space: nowrap; }
    .fill > .cell.branch:not(.focused) {
      margin: 5px 0; }
      .fill > .cell.branch:not(.focused):hover {
        background-color: #DDDDDD; }
    .cell.branch.focused {
      height: 100%;
      padding: 0; }
      .cell.branch.focused.children-1 {
        width: calc( 300px * 1); }
      .cell.branch.focused.children-2 {
        width: calc( 300px * 2); }
      .cell.branch.focused.children-3 {
        width: calc( 300px * 3); }
      .cell.branch.focused.children-4 {
        width: calc( 300px * 4); }
      .cell.branch.focused.children-5 {
        width: calc( 300px * 5); }
      .cell.branch.focused.children-6 {
        width: calc( 300px * 6); }
      .cell.branch.focused.children-7 {
        width: calc( 300px * 7); }
      .cell.branch.focused.children-8 {
        width: calc( 300px * 8); }
      .cell.branch.focused.children-9 {
        width: calc( 300px * 9); }
      .cell.branch.focused.children-10 {
        width: calc( 300px * 10); }
      .cell.branch.focused.remove-width {
        width: auto; }
  .cell.action {
    overflow: hidden;
    text-weight: bold;
    white-space: normal; }
    .fill > .cell.action {
      height: auto;
      cursor: default; }
    .cell.action h1 {
      text-transform: uppercase; }
      :not(.focused) > .sequence > .cell.action h1 {
        font-size: 0.8em;
        padding: 0 15px; }
      .focused > .sequence > .cell.action h1 {
        margin: 10px 0;
        font-size: 1.5em;
        padding: 0 15px; }
      :not(.focused) > * > :not(.focused) > * > .cell.action h1 {
        display: none; }
    .cell.action p {
      display: none;
      margin: 0;
      padding: 0 15px;
      padding-bottom: 20px;
      width: 100%; }
      .cell.action p:last-child {
        padding-bottom: 10px;
        text-align: right; }

.READY, .AVAILABLE {
  background-color: #14B259;
  border: 2px solid #12a452; }
  .READY.darken, .darken .READY, .AVAILABLE.darken, .darken .AVAILABLE {
    background-color: #052814;
    border: 1px solid #031b0d; }

.ACTIVE {
  background-color: #398CBF;
  border: 2px solid #3583b3; }
  .ACTIVE.darken, .darken .ACTIVE {
    background-color: #163649;
    border: 2px solid #122d3d; }

.BLOCKED, .SUSPENDED {
  background-color: #E8142A;
  border: 2px solid #da1327; }
  .BLOCKED.darken, .darken .BLOCKED, .SUSPENDED.darken, .darken .SUSPENDED {
    background-color: #5b0810;
    border: 2px solid #4d070e; }

.DONE, .SATISFIED {
  background-color: #6FBB84;
  border: 2px solid #65b67b; }
  .DONE.darken, .darken .DONE, .SATISFIED.darken, .darken .SATISFIED {
    background-color: #2f623d;
    border: 2px solid #2a5836; }

.NONE {
  background-color: #7F8C8D;
  border: 2px solid #778586; }
  .NONE.darken, .darken .NONE {
    background-color: #363c3d;
    border: 2px solid #2f3435; }

/*# sourceMappingURL=app.css.map */
