<html>
    <head>
        <title>Integrate Test Loader</title>
        <link href="//rawgit.com/HubSpot/integrate/master/stylesheets/style.css" rel='stylesheet' type='text/css'>
    </head>
    <body>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js" type="text/javascript"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js" type="text/javascript"></script>
        <script src="//rawgit.com/HubSpot/integrate/master/integrate.min.js" type="text/javascript"></script>
        <script src="/static/integrate/{{ test }}.js" type="text/javascript"></script>
    </body>
</html>