{% extends "base.html" %}

{% block static %}
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'processes/scss/app.css' %}" />

    <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'underscore/underscore.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'backbone/backbone.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'jquery-ui/jquery-ui.min.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'processes/coffee/app.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'processes/coffee/minimap.js' %}" charset="utf-8"></script>

{% endblock %}

{% block topbar %}
    <div class='fixed'>
        {% include '_top_bar.html' %}
    </div>
    <div class="sidebar">
        <div id="minimap"></div>
    </div>
{% endblock %}

{% block content %}

{% endblock %}
