{% extends "base.html" %}

{% block static %}
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'processes/scss/app.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'processes/css/pushy.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'shepherd/css/shepherd-theme-default.css' %}" />

    <script type="text/javascript" src="{% static 'processes/coffee/app.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'processes/js/pushy.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'processes/coffee/shepherd.js' %}" charset="utf-8"></script>


{% endblock %}

{% block topbar %}
    <div class='fixed'>
        {% include '_top_bar.html' with show_menu=True custom_title='YourPathways' %}
    </div>

    <div class="pushy pushy-left">
        <ul>
            <div id="go-to-active"></div>
            <li class="pushy-item"><div class="ACTIVE"></div><span>Happening Now</span></li>
            <li class="pushy-item"><div class="READY"></div><span>Next Step</span></li>
            <li class="pushy-item"><div class="DONE SATISFIED"></div><span>Done</span></li>
            <li class="pushy-item"><div class="NONE AVAILABLE"></div><span>Not Available Yet</span></li>
            <li class="pushy-item"><div class="BLOCKED SUSPENDED"></div><span>Blocked</span></li>
            <a href='/accounts/logout/'><button class="sign-out-button">Sign Out</button></a>

            <h1 style="color: white; text-align: center; padding-top: 10px; margin-top:0; display:none;" id="maptitle">Minimap</h1>
            <div id="minimap"></div>
        </ul>
    </div>
{% endblock %}


{% block content %}

{% endblock %}
