<nav class="top-bar" data-topbar role="navigation">
    {% if show_menu %}
        <div class="menu-btn">
            &#9776;
        </div>
    {% endif %}
    <ul class="title-area">
        <li class="name">
            {% if custom_title %}
                <h1><a>{{ custom_title }}</a></h1>
            {% else %}
                <h1><a>TCDoc</a></h1>
            {% endif %}
    </li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      {% if request.user.is_authenticated %}
        <li><a>{{request.user.email}}</a></li>
        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
      {% else %}
        <li><a href="{% url 'account_login' %}">Sign In</a></li>
        <li><a class= "nav-item" href="{% url 'account_signup' %}">Sign Up</a></li>
      {% endif %}
    </ul>
    <!-- Left Nav Section -->
    <ul class="left">

    </ul>
  </section>
</nav>
