<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'scss/base.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'shepherd/css/shepherd-theme-default.css' %}" />
        <script type="text/javascript" src="{% static 'shepherd/shepherd.min.js' %}"></script>
        {% block static %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    </head>
    <body>
      {% block topbar %}
        {% include '_top_bar.html' %}
      {% endblock %}

      <div class="row">
        <div class = "content text-center twelve columns">
          {% block content %}{% endblock %}
          {% block footer %}{% endblock %}
        </div>

      </div>
    </body>
</html>
